Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^data/ - [F,L]
RewriteRule ^config\.php$ - [F,L]
RewriteRule ^functions\.php$ - [F,L]
RewriteRule ^README\.txt$ - [F,L]
</IfModule>
<FilesMatch "\.(sqlite|db)$">
Require all denied
</FilesMatch>
